
<% if @condo_profile.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@condo_profile.errors.count, "error") %> prohibited this listing from being saved:</h2>

    <ul>
    <% @condo_profile.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<ul class="nav nav-tabs">
  <li id="general_tab_button" class="active"><a href="#">General</a></li>
  <li id="photos_tab_button" ><a href="#">Photos</a></li>
</ul>

<div class="well well-large">
  <%= form_for @condo_profile, :html => {multipart: true} do |f| %>

    <div id="general_tab">
        <%= f.hidden_field :draft, value: "false" %>
    
    
        <div class="form-group">
          <span style="font-weight:bold;">Select Neighbourhood:</span> 
          <% Neighbourhood.all.each do |neighbourhood| %>
            <label class='radio-button-label'>
              <%= f.radio_button :neighbourhood_id, neighbourhood.id %>
              <%= neighbourhood.name %>
            </label>
          <% end %>
        </div>
        
        
        <div class="row">
          <div class="col-lg-6">
    
              <div class="form-group">
                <%= f.label :active, "Enable profile" %>
    
                <div class="make-switch" data-on-label="Yes" data-off-label="No" data-off="danger" data-on="success" style="margin-right:25px;">
                   <%= f.check_box :active %> 
                </div> 
              </div>
    
              <div class="form-group">
                <%= f.label :priority %>
    
                <%= f.select :priority, (1..10).collect {|r| [ r, r ] }, {}, { class:'form-control input-small', style:'display:inline-block; width:100px' } %> (Listings and slideshow sorted by this field)
           
              </div>
              <div class="form-group">
                <%= f.label :built_on %>
    
                <%= f.date_field :built_on, class:'form-control input-small', style:'display:inline-block' %> (Transactions sorted by this field)
           
              </div>
    
    
    
              <div class="form-group">
                <%= f.label :address %>
                <%= f.text_field :address, class: 'form-control input-small', style:'display:inline-block' %>
                <%= link_to 'Get Coordinates', get_coordinates_condo_profiles_path, id: 'get-coordinates' %>
              </div>
              <div class="form-group">
                <%= f.label :lon %>
                <%= f.text_field :lon, class: 'form-control input-small', style:'display:inline-block' %>
              </div>
              <div class="form-group">
                <%= f.label :lat %>
                <%= f.text_field :lat, class: 'form-control input-small', style:'display:inline-block' %>
              </div>
              <div class="form-group">
                <%= f.label :floors %>
                <%= f.number_field :floors, class: 'form-control input-small', style:'display:inline-block' %>
              </div>
              <div class="form-group">
                <%= f.label :units %>
                <%= f.number_field :units, class: 'form-control input-small', style:'display:inline-block' %>
              </div>
              <div class="form-group">
                <%= f.label :corporation %>
                <%= f.text_field :corporation, class: 'form-control input-small', style:'display:inline-block' %>
              </div>
    
    
    
    
          </div>
    
          <div class="col-lg-6">
           
              <div class="form-group">
                <%= f.label :management %>
                <%= f.text_field :management, class: 'form-control input-small', style:'display:inline-block' %>
              </div>
              <div class="form-group">
                <%= f.label :school_zone %>
                <%= f.text_field :school_zone, class: 'form-control input-small', style:'display:inline-block' %>
              </div>
              <div class="form-group">
                <%= f.label :distance_from_transit %>
                <%= f.text_field :distance_from_transit, class: 'form-control input-small', style:'display:inline-block' %>
              </div>
              <div class="form-group">
                <%= f.label :total_rented %>
                <%= f.number_field :total_rented, class: 'form-control input-small', style:'display:inline-block' %>
              </div>
              <div class="form-group">
                <%= f.label :total_owned %>
                <%= f.number_field :total_owned, class: 'form-control input-small', style:'display:inline-block' %>
              </div>
    
              <div class="form-group">
                <h2>Select Amenities</h2>
                <%= f.collection_check_boxes(:amenities, Amenity.all, :id, :label, checked: @condo_profile.amenities )  do |b| %>
                  
                  <%= b.label(class: "check_box") { b.check_box(class: "check_box") + b.text } %>

                <% end %>
              </div>          
              <div class="form-group">
                <h2>Select Maintenance</h2>
                <%= f.collection_check_boxes(:maintenances, Maintenance.all, :id, :label, checked: @condo_profile.maintenances )  do |b| %>
                  
                  <%= b.label(class: "check_box") { b.check_box(class: "check_box") + b.text } %>

                <% end %>
              </div>   
              
              <div class="form-group">
                <%= f.label :floor_plan %>
                <%  unless @condo_profile.floor_plan.new_record? %>
                  <%= check_box_tag :delete_floor_plan %> Delete? <br />
                  <%= link_to "View current Floorplan", @condo_profile.floor_plan.file_url, :target => "_blank" %> or Upload a different one:
                <% end %>
                <%= f.fields_for :floor_plan do |floor_plan| %>
                  <%= floor_plan.file_field :file, style: 'display:inline-block' %>
                <% end %>
              </div>
              
    
          </div>
        </div>
    
        
    
    </div>

    <div class="clearfix">
        <div class="actions pull-right" style="display:inline-block; margin-left:15px;">
          <%= f.submit @condo_profile.draft ? "Create Listing" : nil, class: 'btn btn-success', confirm: 'Did you remember to save any changes done to the Photos?' %>
        </div>
        <%= link_to 'Cancel', listings_path, class:'btn btn-danger pull-right' %>
    </div>
     
  <% end %>

  <div id="photos_tab" class="clearfix" style="position:relative;">
    <% unless @condo_profile.draft? %>
      <div class="alert alert-warning clearfix" style="display: table; margin: 0 auto; margin-bottom: 15px;">
        <span>Changes made to the photos are permanent <strong>BEFORE</strong> the "Update" button is clicked!</span>
      </div>
    <% end %>

    <%= form_for Photo.new, :html => {multipart: true} do |f| %>
      <div class="form-group">
        <%= f.label :photos %>
        <%= f.hidden_field :condo_profile_id, value: @condo_profile.id %>
        <%= f.file_field :image, multiple: true, name:'photo[image]', style: 'display:inline-block' %>
        
      </div>


    <% end %> 

    
    <% if @photos.blank? %>
      <div class="alert alert-info">
        <span>Drag and drop photos anywhere on the document to upload</span>
      </div>
    <% end %>

    <div id="progress_bars"></div>


    <%= form_for :photo, url: manipulate_photos_path, :html => {method: 'post'}, remote: true do |f| %>
      <%= f.hidden_field :condo_profile_id, value: @condo_profile.id %>
      <div id="toggle_all_photos" class="btn btn-small btn-primary" style="margin-bottom:20px;">Toggle All</div>
      <%= f.submit "Delete selected photos", name:'delete_photos', data: { disable_with: "Please wait..." }, class: 'btn btn-small btn-primary', style:'margin-bottom:20px;' %>
      <%= f.submit "Set selected as Main photo", name:'set_main_photo', data: { disable_with: "Please wait..." }, class: 'btn btn-small btn-primary', style:'margin-bottom:20px;' %>
      <%= f.submit "Save order & featured", name:'save_photo_order', data: { disable_with: "Please wait..." }, class: 'btn btn-small btn-primary', style:'margin-bottom:20px;' %>

      <div id="photos" class="clearfix">
        <div class="row">
            <%= render partial: 'photos/condoprofile_photo', collection: @photos, as: :photo %> 
        </div>
      </div>

    <% end %> 

  </div>




</div>


<script id="template-upload" type="text/x-tmpl">
  <div class="upload">
    {%=o.name%}
      <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-info" style="width: 0%"></div>
      </div>
  </div>
</script>


