<div class="condo_profile" data-lon="<%= @condo_profile.lon %>" data-lat="<%= @condo_profile.lat %>" data-address="<%= @condo_profile.address %>"></div>

<p>
  <strong>Address:</strong>
  <%= @condo_profile.address %>
</p>

<p>
  <strong>Built on:</strong>
  <%= @condo_profile.built_on %>
</p>

<p>
  <strong>Floors:</strong>
  <%= @condo_profile.floors %>
</p>

<p>
  <strong>Units:</strong>
  <%= @condo_profile.units %>
</p>

<p>
  <strong>Corporation:</strong>
  <%= @condo_profile.corporation %>
</p>

<p>
  <strong>Management:</strong>
  <%= @condo_profile.management %>
</p>

<p>
  <strong>School zone:</strong>
  <%= @condo_profile.school_zone %>
</p>
<p>
  <strong>Walk score:</strong>
  <%= link_to @transit_score['ws_link'], target: '_blank' do %>
    <%= @walk_score['walkscore'] %>
  <% end %> 
  (<%= @walk_score['description'] %>)
</p>
<p>
  <strong>Transit Score:</strong>
  <%= link_to @transit_score['ws_link'], target: '_blank' do %>
    <%= @transit_score['transit_score'] %>
  <% end %> 
  (<%= @transit_score['description'] %>)
</p>

<p>
  <strong>Total rented:</strong>

  <%= @condo_profile.total_rented %>
</p>

<p>
  <strong>Total owned:</strong>
  <%= @condo_profile.total_owned %>
</p>


