

<div class="item <%= 'active' if (featured_listing_counter == 0 && active_set) %>">
	<% @image = featured_listing.photos.where(main_photo:true).first %>


  <a href="<%= listing_path(featured_listing) %>">
  	<% unless @image.blank? %>
    	<img src="<%= featured_listing.photos.where(main_photo:true).first.image_url(:slide) %>" alt="img" />
    <% else %>
    	<div style="width:736; height:410px; text-align: center;line-height: 252px;font-size: 38px;">
    		No Photo
    	</div>
    <% end %>
  </a>

  <div class="carousel-caption" id="u34596-7">
    <p>FEATURED LISTING</p>
    <p><%= featured_listing.street_number %> <%= featured_listing.address %>, <%= "Unit #{featured_listing.unit_number}," unless featured_listing.unit_number.blank? %> <%= featured_listing.city_province %></p>
  </div>

</div>