<h1>Listing maintenances</h1>

<%= link_to 'New Maintenance Icon', new_maintenance_path, class:'pull-right btn btn-default btn-small' %>



<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Label</th>
      <th>Preview</th>

      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @maintenances.each do |maintenance| %>
      <tr>
        <td><%= maintenance.label %></td>
        <td><%= image_tag maintenance.icon %></td>
        <td>
          
          <%= link_to 'Edit', edit_maintenance_path(maintenance), class: 'btn btn-primary'  %>
          <%= link_to 'Destroy', maintenance, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger'  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



