<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @maintenance.label %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @maintenance.icon %>
</p>

<%= link_to 'Edit', edit_maintenance_path(@maintenance) %> |
<%= link_to 'Back', maintenances_path %>
