

<% if params[:delete_photos] %>
	$("#photos").html("<div class='row'><%= j render @photos, as: 'photo' %> </div>");
	<%= add_gritter("Selected photos were succesfully deleted.", :title => "Photos", image: :success) %>


<% elsif params[:set_main_photo] %>
	$("#photos").html("<div class='row'><%= j render @photos, as: 'photo' %> </div>");
	<%= add_gritter("New main photo was selected.", :title => "Photos", image: :success) %>

<% elsif params[:save_photo_order] %>

	<%= add_gritter("New order was saved.", :title => "Photos", image: :success) %>

<% end %>


make_images_sortable();
