<!DOCTYPE html>
<html>
	<html class="js ie" sizset="false" sizcache09568229105500773="272 16 108">

	<meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>

	<!-- CSS -->

	<%= stylesheet_link_tag    "admin", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "admin", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>


	<meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
	<meta name="generator" content="5.0.704.218"/>
	<title>Oulahen.com Admin Portal</title>


	</head>
 	<body>
 		<div class="container">
 			<div id="admin_logo">
	 			<%= image_tag 'oulahen-logo.gif' %>
	 		</div>
	    <div id="notice_message">
	      <% flash.each do |key, value| %>
	        <div class="<%= flash_class(key) %> fade in">
	          <a href="#" data-dismiss="alert" class="close">×</a>
	          <%= value %>
	        </div>
	      <% end %>
	    </div>

			<%= yield %>
		</div> <!-- /container -->
		  	
	</body>
</html>
