<!DOCTYPE html>
<html>
	<html class="js ie" sizset="false" sizcache09568229105500773="272 16 108">

	<meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>

	<!-- CSS -->

	<%= stylesheet_link_tag    "admin", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "admin", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>


	<meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
	<meta name="generator" content="5.0.704.218"/>
	<title>Oulahen.com Admin Portal</title>

	<style>
		.brand_logo {
			width: 90%;
			margin-top: -11px;
			position: relative;
			top: 3px;
		}

	</style>

	</head>
 	<body>



 		<div class="container">


			<div class="navbar">
			  <a class="navbar-brand" href="#">

			 			<%= image_tag 'oulahen-logo.gif', class: 'brand_logo' %>

			  </a>
			  <ul class="nav navbar-nav">

					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage Listings <b class="caret"></b></a>
					  <ul class="dropdown-menu">
					    <li><%= link_to 'Create new listing', new_listing_path %></li>
					    <li><%= link_to 'View all listings', listings_path %></li>
					  </ul>
					</li>

					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage Slideshow <b class="caret"></b></a>
					  <ul class="dropdown-menu">
					    <li><%= link_to 'New slide', new_slide_show_image_path %></li>
					    <li><%= link_to 'View all slides', slide_show_images_path %></li>
					  </ul>
					</li>

			  </ul>
			</div>


	    <div id="notice_message">
	      <% flash.each do |key, value| %>
	        <div class="<%= flash_class(key) %> fade in">
	          <a href="#" data-dismiss="alert" class="close">×</a>
	          <%= value %>
	        </div>
	      <% end %>
	    </div>

			<%= yield %>




			<!-- Site footer -->
			<div class="footer">
			  <p>&copy; The Oulahen Team 2013 <%= "2013" != Time.now.year.to_s ? " - " + Time.now.year.to_s : "" %></p>
			</div>

		</div> <!-- /container -->


		  	
	</body>
</html>
