<!DOCTYPE html>
<html>
	<head>

		<meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
		<meta name="generator" content="5.0.704.218"/>
		<!-- CSS -->

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "application_split2", media: "all", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>


		<meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
		<meta name="generator" content="5.0.704.218"/>
		<title>layout</title>


   </head>
 <body>

  <div class="clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="clearfix colelem" id="pu27196"><!-- group -->
     <a class="nonblock nontext grpelem" id="u27196" href="/pages/index.html"><!-- image --><img class="block" id="u27196_img" src="/images/website-team-photo-cropped.jpg" alt="" width="234" height="140"/></a>
     <div class="clearfix grpelem" id="ppu27277"><!-- column -->
      <div class="clearfix colelem" id="pu27277"><!-- group -->
       <a class="nonblock nontext grpelem" id="u27277" href="https://www.facebook.com/oulahenteam" target="_blank" title="Like us on Facebook!"><!-- image --><img class="block" id="u27277_img" src="/images/logo_facebook.gif" alt="" width="20" height="20"/></a>
       <a class="nonblock nontext grpelem" id="u27281" href="https://twitter.com/oulahen" target="_blank" title="Follow Us on Twitter!"><!-- image --><img class="block" id="u27281_img" src="/images/twitter-logo.gif" alt="" width="21" height="21"/></a>
       <a class="nonblock nontext grpelem" id="u27289" href="http://www.linkedin.com/profile/view?id=250177723&amp;trk=nav_responsive_tab_profile" target="_blank" title="Visit Our Linked In!"><!-- image --><img class="block" id="u27289_img" src="/images/linkedin_logo.gif" alt="" width="20" height="20"/></a>
       <a class="nonblock nontext grpelem" id="u27285" href="http://blog.oulahen.com/" target="_blank" title="Follow Our Blog!"><!-- image --><img class="block" id="u27285_img" src="/images/wordpress-logo.gif" alt="" width="20" height="20"/></a>
      </div>
      <div class="clearfix colelem" id="pu27273"><!-- group -->
       <a class="nonblock nontext grpelem" id="u27273" href="/pages/index.html"><!-- image --><img class="block" id="u27273_img" src="/images/oulahen-logo.gif" alt="" width="222" height="46"/></a>
       <a class="nonblock nontext grpelem" id="u27275" href="http://www.remax.ca/" target="_blank"><!-- image --><img class="block" id="u27275_img" src="/images/remax-logo.gif" alt="" width="164" height="50"/></a>
       <div class="clearfix grpelem" id="u27272-10"><!-- content -->
        <p id="u27272-2">Realtron Realty Inc.</p>
        <p id="u27272-4">Brokerage</p>
        <p id="u27272-6">Independently Owned</p>
        <p id="u27272-8">and Operated</p>
       </div>
       <div class="clearfix grpelem" id="ppu27279"><!-- column -->
        <div class="clearfix colelem" id="pu27279"><!-- group -->
         <div class="grpelem" id="u27279" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=-1,M12=0,M21=0,M22=-1,SizingMethod='auto expand')" data-mu-ie-matrix-dx="0" data-mu-ie-matrix-dy="-4"><!-- image -->
          <img class="block" id="u27279_img" src="/images/logo_facebook.gif" alt="" width="20" height="20"/>
         </div>
         <div class="grpelem" id="u27283" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=-1,M12=0,M21=0,M22=-1,SizingMethod='auto expand')" data-mu-ie-matrix-dx="0" data-mu-ie-matrix-dy="-4"><!-- image -->
          <img class="block" id="u27283_img" src="/images/twitter-logo.gif" alt="" width="20" height="20"/>
         </div>
         <div class="grpelem" id="u27287" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=-1,M12=0,M21=0,M22=-1,SizingMethod='auto expand')" data-mu-ie-matrix-dx="0" data-mu-ie-matrix-dy="-2"><!-- image -->
          <img class="block" id="u27287_img" src="/images/wordpress-logo.gif" alt="" width="20" height="20"/>
         </div>
         <div class="grpelem" id="u27291" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=-1,M12=0,M21=0,M22=-1,SizingMethod='auto expand')" data-mu-ie-matrix-dx="0" data-mu-ie-matrix-dy="-2"><!-- image -->
          <img class="block" id="u27291_img" src="/images/linkedin_logo.gif" alt="" width="20" height="20"/>
         </div>
         <div class="clearfix grpelem" id="u27293-5"><!-- content -->
          <p><span id="u27293">&nbsp;416&#45;222&#45;1212</span></p>
         </div>
        </div>
        <a class="nonblock nontext clearfix colelem" id="u27304-4" href="/pages/contact-us-form.html"><!-- content --><p>team@oulahen.com</p></a>
       </div>
      </div>
      <div class="colelem" id="u16516"><!-- simple frame --></div>
      <ul class="MenuBar clearfix colelem" id="menuu27015"><!-- row -->
       <li class="MenuItemContainer clearfix grpelem" id="u27165"><!-- vertical box -->
        <a class="nonblock nontext MenuItem MenuItemWithSubMenu rounded-corners clearfix colelem" id="u27166" href="/pages/index.html">
        	<!-- horizontal box -->
        	<div class="MenuItemLabel NoWrap clearfix grpelem" id="u27167-4"><!-- content -->
        		<p>Home</p>
	        </div>
	    </a>


        <%= link_to page_path('index'), class: 'nonblock nontext MenuItem MenuItemWithSubMenu rounded-corners clearfix colelem', id: 'u27166-4' do %>
        	<div class="MenuItemLabel NoWrap clearfix grpelem" id="u27167-4"><!-- content -->
        		<p>Home</p>
        	</div>
        <% end %>


       </li>
       <li class="MenuItemContainer clearfix grpelem" id="u27123"><!-- vertical box -->
        <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u27124" href="/pages/listings.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u27126-4"><!-- content --><p>Listings</p></div></a>
        <div class="SubMenu  MenuLevel1 clearfix" id="u27128"><!-- vertical box -->
         <ul class="SubMenuView clearfix colelem" id="u27129"><!-- vertical box -->
          <li class="MenuItemContainer clearfix colelem" id="u27130"><!-- horizontal box -->
           <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u27140" href="/pages/commercial.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u27143-4"><!-- content --><p>Commercial</p></div></a>
          </li>
          <li class="MenuItemContainer clearfix colelem" id="u31731"><!-- horizontal box -->
           <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u31741" href="/pages/commercial-listings.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u31743-4"><!-- content --><p>Commercial Listings</p></div></a>
          </li>
          <li class="MenuItemContainer clearfix colelem" id="u31829"><!-- horizontal box -->
           <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u31832" href="/pages/transactions.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u31833-4"><!-- content --><p>Transactions</p></div></a>
           <div class="SubMenu  MenuLevel2 clearfix" id="u31830"><!-- vertical box -->
            <ul class="SubMenuView clearfix colelem" id="u31831"><!-- vertical box -->
             <li class="MenuItemContainer clearfix colelem" id="u31836"><!-- horizontal box -->
              <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u31837" href="/pages/condos.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u31839-4"><!-- content --><p>Condos</p></div></a>
             </li>
            </ul>
           </div>
          </li>
          <li class="MenuItemContainer clearfix colelem" id="u31787"><!-- horizontal box -->
           <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u31788" href="/pages/commercial-transations.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u31789-4"><!-- content --><p>Commercial Transations</p></div></a>
          </li>
          <li class="MenuItemContainer clearfix colelem" id="u33974"><!-- horizontal box -->
           <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u33977" href="/pages/ct-under-construction.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u33979-4"><!-- content --><p>CT&#45;under construction</p></div></a>
          </li>
         </ul>
        </div>
       </li>
       <li class="MenuItemContainer clearfix grpelem" id="u27088"><!-- vertical box -->
        <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u27089" href="/pages/selling.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u27092-4"><!-- content --><p>Selling</p></div></a>
        <div class="SubMenu  MenuLevel1 clearfix" id="u27093"><!-- vertical box -->
         <ul class="SubMenuView clearfix colelem" id="u27094"><!-- vertical box -->
          <li class="MenuItemContainer clearfix colelem" id="u27095"><!-- horizontal box -->
           <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u27098" href="/pages/market-evaluation.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u27101-4"><!-- content --><p>Market Evaluation</p></div></a>
          </li>
         </ul>
        </div>
       </li>
       <li class="MenuItemContainer clearfix grpelem" id="u27074"><!-- vertical box -->
        <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u27077" href="/pages/buying.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u27078-4"><!-- content --><p>Buying</p></div></a>
       </li>
       <li class="MenuItemContainer clearfix grpelem" id="u27102"><!-- vertical box -->
        <a class="nonblock nontext MenuItem MenuItemWithSubMenu MuseMenuActive clearfix colelem" id="u27105" href="/pages/stats.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u27107-4"><!-- content --><p>Stats</p></div></a>
       </li>
       <li class="MenuItemContainer clearfix grpelem" id="u27081"><!-- vertical box -->
        <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u27084" href="/pages/condo-profiles.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u27086-4"><!-- content --><p>Condo Profiles</p></div></a>
       </li>
       <li class="MenuItemContainer clearfix grpelem" id="u27116"><!-- vertical box -->
        <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u27117" href="/pages/helpful-tools.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u27118-4"><!-- content --><p>Helpful Tools</p></div></a>
       </li>
       <li class="MenuItemContainer clearfix grpelem" id="u27109"><!-- vertical box -->
        <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u27110" href="/pages/blog.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u27113-4"><!-- content --><p>Blog</p></div></a>
       </li>
       <li class="MenuItemContainer clearfix grpelem" id="u27039"><!-- vertical box -->
        <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="u27040" href="/pages/about-us.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u27042-4"><!-- content --><p>About Us</p></div></a>
        <div class="SubMenu  MenuLevel1 clearfix" id="u27044"><!-- vertical box -->
         <ul class="SubMenuView clearfix colelem" id="u27045"><!-- vertical box -->
          <li class="MenuItemContainer clearfix colelem" id="u27053"><!-- horizontal box -->
           <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u27054" href="/pages/awards.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u27057-4"><!-- content --><p>Awards</p></div></a>
          </li>
          <li class="MenuItemContainer clearfix colelem" id="u27046"><!-- horizontal box -->
           <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u27047" href="/pages/charitable-work.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u27049-4"><!-- content --><p>Charitable Work</p></div></a>
          </li>
          <li class="MenuItemContainer clearfix colelem" id="u27067"><!-- horizontal box -->
           <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u27068" href="/pages/testimonials.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u27069-4"><!-- content --><p>Testimonials</p></div></a>
          </li>
          <li class="MenuItemContainer clearfix colelem" id="u27060"><!-- horizontal box -->
           <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix grpelem" id="u27063" href="/pages/in-the-news.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u27066-4"><!-- content --><p>In the News</p></div></a>
          </li>
         </ul>
        </div>
       </li>
       <li class="MenuItemContainer clearfix grpelem" id="u27016"><!-- vertical box -->
        <a class="nonblock nontext MenuItem MenuItemWithSubMenu rounded-corners clearfix colelem" id="u27019" href="/pages/contact-us.html"><!-- horizontal box --><div class="MenuItemLabel NoWrap clearfix grpelem" id="u27022-4"><!-- content --><p>Contact Us</p></div></a>
       </li>
      </ul>
     </div>
    </div>


    <%= yield %>

    <div class="verticalspacer"></div>
    <div class="colelem" id="u16503"><!-- simple frame --></div>
    <div class="clearfix colelem" id="pu16505-4"><!-- group -->
     <div class="clearfix grpelem" id="u16505-4"><!-- content -->
      <p>Home</p>
     </div>
     <div class="clearfix grpelem" id="u16502-4"><!-- content -->
      <p>Listings</p>
     </div>
     <div class="clearfix grpelem" id="u16520-4"><!-- content -->
      <p>Helpful Tools</p>
     </div>
     <div class="clearfix grpelem" id="u16517-4"><!-- content -->
      <p>Contact Us</p>
     </div>
     <div class="clearfix grpelem" id="u16521-4"><!-- content -->
      <p>All Rights Reserved. Copyright © 2013 The Oulahen Team</p>
     </div>
     <a class="nonblock nontext grpelem" id="u16543" href="https://www.facebook.com/oulahenteam"><!-- rasterized frame --><img id="u16543_img" src="/images/pasted%20image%20228x238-u16543.png" alt="" width="22" height="23"/></a>
     <a class="nonblock nontext grpelem" id="u16541" href="https://twitter.com/oulahen"><!-- image --><img class="block" id="u16541_img" src="/images/twitter-logo1.jpg" alt="" width="14" height="14"/></a>
     <a class="nonblock nontext grpelem" id="u16547" href="http://www.youtube.com/user/OulahenTeam"><!-- rasterized frame --><img id="u16547_img" src="/images/pasted%20image%2044x46-u16547.png" alt="" width="23" height="23"/></a>
     <div class="clearfix grpelem" id="u16524"><!-- group -->
      <div class="clearfix grpelem" id="u16526-4"><!-- content -->
       <p>|</p>
      </div>
      <div class="clearfix grpelem" id="u16527-4"><!-- content -->
       <p>|</p>
      </div>
      <div class="clearfix grpelem" id="u16525-4"><!-- content -->
       <p>|</p>
      </div>
      <div class="clearfix grpelem" id="u16528-4"><!-- content -->
       <p>|</p>
      </div>
     </div>
    </div>
   </div>
  </div>




  	<!-- Other scripts -->
  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<script type="text/javascript">
	$(document).ready(function() { try {
		Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
		Muse.Utils.prepHyperlinks();/* body */
		Muse.Utils.initWidget('.MenuBar', function(elem) { return $(elem).museMenu(); });/* unifiedNavBar */
		Muse.Utils.initWidget('#' + $("[id^=slideshowu]").attr("id"), function(elem) { new WebPro.Widget.ContentSlideShow(elem, {autoPlay:true,displayInterval:7000,slideLinkStopsSlideShow:false,transitionStyle:'horizontal',lightboxEnabled_runtime:false,shuffle:false,transitionDuration:500,enableSwipe:true}); });/* #slideshowu8187 */
		Muse.Utils.initWidget('#widgetu25844', function(elem) { new WebPro.Widget.Form(elem, {validationEvent:'submit',errorStateSensitivity:'high',fieldWrapperClass:'fld-grp',formSubmittedClass:'frm-sub-st',formErrorClass:'frm-subm-err-st',formDeliveredClass:'frm-subm-ok-st',notEmptyClass:'non-empty-st',focusClass:'focus-st',invalidClass:'fld-err-st',requiredClass:'fld-err-st',ajaxSubmit:true}); });/* #widgetu25844 */

		Muse.Utils.initWidget('#accordionu7523', function(elem) { return new WebPro.Widget.Accordion(elem, {canCloseAll:false,defaultIndex:0}); });/* #accordionu7523 */
		Muse.Utils.fullPage('#page');/* 100% height page */
		Muse.Utils.showWidgetsWhenReady();/* body */
		Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
	} catch(e) { Muse.Assert.fail('Error calling selector function:' + e); }});
	</script>
   </body>
</html>
