<!DOCTYPE html>
<html>
	<head>
    <%= analytics_init local: Rails.env.development? %>


		<meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
		<meta name="generator" content="5.0.704.218"/>
		<!-- CSS -->

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "application_split2", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "condo-profiles-individual", media: "all", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>


		<meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
		<meta name="generator" content="5.0.704.218"/>
		<title><%= yield(:page_title) %></title>


   </head>



 <body>



  <div class="clearfix" id="page"><!-- column -->
   <div class="position_content" id="page_position_content">
    <div class="clearfix colelem" id="pu27196"><!-- group -->
     <a class="nonblock nontext grpelem" id="u27196" href="/pages/index.html"><!-- image --><img class="block" id="u27196_img" src="/images/website-team-photo-cropped.jpg" alt="" width="234" height="140"/></a>
     <div class="clearfix grpelem" id="ppu27277"><!-- column -->
      <div class="clearfix colelem" id="pu27277"><!-- group -->
       <a class="nonblock nontext grpelem" id="u27277" href="https://www.facebook.com/oulahenteam" target="_blank" title="Like us on Facebook!"><!-- image --><img class="block" id="u27277_img" src="/images/logo_facebook.gif" alt="" width="20" height="20"/></a>
       <a class="nonblock nontext grpelem" id="u27281" href="https://twitter.com/oulahen" target="_blank" title="Follow Us on Twitter!"><!-- image --><img class="block" id="u27281_img" src="/images/twitter-logo.gif" alt="" width="21" height="21"/></a>
       <a class="nonblock nontext grpelem" id="u27289" href="http://www.linkedin.com/profile/view?id=250177723&amp;trk=nav_responsive_tab_profile" target="_blank" title="Visit Our Linked In!"><!-- image --><img class="block" id="u27289_img" src="/images/linkedin_logo.gif" alt="" width="20" height="20"/></a>
       <a class="nonblock nontext grpelem" id="u27285" href="http://blog.oulahen.com/" target="_blank" title="Follow Our Blog!"><!-- image --><img class="block" id="u27285_img" src="/images/wordpress-logo.gif" alt="" width="20" height="20"/></a>
      </div>
      <div class="clearfix colelem" id="pu27273"><!-- group -->
       <a class="nonblock nontext grpelem" id="u27273" href="/pages/index.html"><!-- image --><img class="block" id="u27273_img" src="/images/oulahen-logo.gif" alt="" width="222" height="46"/></a>
       <span class="nonblock nontext grpelem" id="u27275"><!-- image --><img class="block" id="u27275_img" src="/images/remax-logo.gif" alt="" width="164" height="50"/></span>
       <div class="clearfix grpelem" id="u27272-10"><!-- content -->
        <p id="u27272-2">Realtron Realty Inc.</p>
        <p id="u27272-4">Brokerage</p>
        <p id="u27272-6">Independently Owned</p>
        <p id="u27272-8">and Operated</p>
       </div>
       <div class="clearfix grpelem" id="ppu27279"><!-- column -->
        <div class="clearfix colelem" id="pu27279"><!-- group -->
         <div class="grpelem" id="u27279" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=-1,M12=0,M21=0,M22=-1,SizingMethod='auto expand')" data-mu-ie-matrix-dx="0" data-mu-ie-matrix-dy="-4"><!-- image -->
          <img class="block" id="u27279_img" src="/images/logo_facebook.gif" alt="" width="20" height="20"/>
         </div>
         <div class="grpelem" id="u27283" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=-1,M12=0,M21=0,M22=-1,SizingMethod='auto expand')" data-mu-ie-matrix-dx="0" data-mu-ie-matrix-dy="-4"><!-- image -->
          <img class="block" id="u27283_img" src="/images/twitter-logo.gif" alt="" width="20" height="20"/>
         </div>
         <div class="grpelem" id="u27287" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=-1,M12=0,M21=0,M22=-1,SizingMethod='auto expand')" data-mu-ie-matrix-dx="0" data-mu-ie-matrix-dy="-2"><!-- image -->
          <img class="block" id="u27287_img" src="/images/wordpress-logo.gif" alt="" width="20" height="20"/>
         </div>
         <div class="grpelem" id="u27291" data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=-1,M12=0,M21=0,M22=-1,SizingMethod='auto expand')" data-mu-ie-matrix-dx="0" data-mu-ie-matrix-dy="-2"><!-- image -->
          <img class="block" id="u27291_img" src="/images/linkedin_logo.gif" alt="" width="20" height="20"/>
         </div>
         <div class="clearfix grpelem" id="u27293-5"><!-- content -->
          <p><span id="u27293">&nbsp;416&#45;222&#45;1212</span></p>
         </div>
        </div>
        <a class="nonblock nontext clearfix colelem" id="u27304-4" href="/pages/contact-us-form.html"><!-- content --><p>team@oulahen.com</p></a>
       </div>
      </div>
      <div class="colelem" id="u16516"><!-- simple frame --></div>



      <ul class="MenuBar clearfix colelem" id="menuu27015"><!-- row -->

        <%= render partial: 'layouts/navigation' %>

      </div>

     </div>
    </div>


    <%= yield %>

<div>
<div>
    <div class="verticalspacer"></div>
    <div class="colelem" id="u16503"><!-- simple frame --></div>
    <div class="clearfix colelem" id="pu16505-4"><!-- group -->
<%= render partial: 'layouts/footer' %>
    </div>
   </div>
  </div>




  	<!-- Other scripts -->
  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<script type="text/javascript">
	$(document).ready(function() { try {


    



		Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
		Muse.Utils.prepHyperlinks();/* body */
		Muse.Utils.initWidget('.MenuBar', function(elem) { return $(elem).museMenu(); });/* unifiedNavBar */


    if ($("#pslideshowu38145").length == 1) {

      Muse.Utils.initWidget('#slideshowu38145', function(elem) { new WebPro.Widget.ContentSlideShow(elem, {autoPlay:false,displayInterval:3000,slideLinkStopsSlideShow:false,transitionStyle:'fading',lightboxEnabled_runtime:true,shuffle:false,transitionDuration:500,enableSwipe:true}); });/* #slideshowu38145 */

    }
    else {
      if ($("[id^=slideshowu]").attr("id") != "slideshowu6475")
      Muse.Utils.initWidget('#' + $("[id^=slideshowu]").attr("id"), function(elem) { new WebPro.Widget.ContentSlideShow(elem, {autoPlay:true,displayInterval:7000,slideLinkStopsSlideShow:false,transitionStyle:'horizontal',lightboxEnabled_runtime:false,shuffle:false,transitionDuration:500,enableSwipe:true}); });/* #slideshowu8187 */

    }





		Muse.Utils.initWidget('#widgetu25844', function(elem) { new WebPro.Widget.Form(elem, {validationEvent:'submit',errorStateSensitivity:'high',fieldWrapperClass:'fld-grp',formSubmittedClass:'frm-sub-st',formErrorClass:'frm-subm-err-st',formDeliveredClass:'frm-subm-ok-st',notEmptyClass:'non-empty-st',focusClass:'focus-st',invalidClass:'fld-err-st',requiredClass:'fld-err-st',ajaxSubmit:true}); });/* #widgetu25844 */

		Muse.Utils.initWidget('#accordionu7523', function(elem) { return new WebPro.Widget.Accordion(elem, {canCloseAll:false,defaultIndex:0}); });/* #accordionu7523 */

		Muse.Utils.fullPage('#page');/* 100% height page */
		Muse.Utils.showWidgetsWhenReady();/* body */
		Muse.Utils.transformMarkupToFixBrowserProblems();/* body */


   
    var about_us = ['ajay-aheer', 'mark-oulahen', 'andreia','awards', 'norah-oulahen', 'carly', 'charitable-work', 'paul-oulahen', 'claire', 'testimonials', 'thanh-nguyen', 'in-the-news ', 'jeff-oulahen', 'victor', 'vinay-lakhani','about-us'];
  
    var contact_us = ['contact-us-form', 'contact-us'];

    var condos_profiles = ['meridian', 'monet', 'bravo-boutique', 'chicago', 'marquis', 'pulse-towers', 'dia-condos', 'grand-triomphe', 'c-condos', 'triomphe-grand-triomphe-i', 'condo-profiles', 'park-lane', 'princess-place-tower', 'platinum', 'palm-condos' ];
 
    var helpful_tools = ['land-transfer-calculator', 'helpful-tools', 'mortgage-calculator'];
        
    var stats = ['stats-condos', 'stats'];


    var page = "<%= params[:id] %>";
  
    var action = "<%= params[:action] %>";
        
    var controller = "<%= params[:controller] %>";
       


    if (page.indexOf(".") > -1)
      page = page.substring(0,page.indexOf("."));


   
    if (controller == "listings" && action == "residential")
      $("#pu31906 > div").eq(0).find("div").css("background-color","#EAF3FA")

    else if (controller == "listings" && action == "commercial")
      $("#pu31906 > div").eq(1).find("div").css("background-color","#EAF3FA")

    
    if (controller == "listings" && action == "transactions" && (page == "homes" || page == ""))
      $("#pu31968 > div").eq(0).find("div").css("background-color","#EAF3FA")

    else if (controller == "listings" && action == "transactions" && (page == "condos"))
      $("#pu31968 > div").eq(1).find("div").css("background-color","#EAF3FA")

    else if (controller == "listings" && action == "transactions" && (page == "commercial"))
      $("#pu31968 > div").eq(2).find("div").css("background-color","#EAF3FA")


    if (controller == "listings")
      $("ul.MenuBar > li").eq(1).find("a").first().addClass("MuseMenuActive");
    else if (controller == "pages" && page == "about-us")
      $("#u32271").css("background-color","#EAF3FA");
    else if (controller == "pages" && page == "awards")
      $("#u32273").css("background-color","#EAF3FA");
    else if (controller == "pages" && page == "charitable-work")
      $("#u32277").css("background-color","#EAF3FA");
    else if (controller == "pages" && page == "testimonials")
      $("#u32285").css("background-color","#EAF3FA");
    else if (controller == "pages" && page == "in-the-news")
      $("#u32287").css("background-color","#EAF3FA");


    else if (page == "commercial")
      $("#pu31906 > div").eq(1).find("div").css("background-color","#EAF3FA")

    else if (page == 'index') {
      $("ul.MenuBar > li").eq(0).find("a").addClass("MuseMenuActive");
      
    }
    else if (page == 'selling') {
      $("ul.MenuBar > li").eq(2).find("a").addClass("MuseMenuActive");
      
    }
    else if (page == 'marketevaluation') {
      $("ul.MenuBar > li").eq(2).find("a").addClass("MuseMenuActive");
      
    }
    else if (page == 'buying') {
      $("ul.MenuBar > li").eq(3).find("a").addClass("MuseMenuActive");
      
    }
    else if ($.inArray(page,stats) > -1) {
      $("ul.MenuBar > li").eq(4).find("a").addClass("MuseMenuActive");
      
    }
    else if ($.inArray(page,condos_profiles) > -1) {
      $("ul.MenuBar > li").eq(5).find("a").addClass("MuseMenuActive");
      
    }
    else if ($.inArray(page,helpful_tools) > -1) {
      $("ul.MenuBar > li").eq(6).find("a").addClass("MuseMenuActive");
      
    }
    else if (page == 'blog') {
      $("ul.MenuBar > li").eq(7).find("a").addClass("MuseMenuActive");
      
    }
    else if ($.inArray(page,about_us) > -1) {
      $("ul.MenuBar > li").eq(8).find("a").addClass("MuseMenuActive");
    
    }
    else if ($.inArray(page,contact_us) > -1) {
      $("ul.MenuBar > li").eq(9).find("a").addClass("MuseMenuActive");
    }

    <% flash.each do |key, value| %>
        <%= add_gritter(value) %>
    <% end %>
    

 

	} catch(e) { Muse.Assert.fail('Error calling selector function:' + e); }});
	</script>





   </body>
</html>
