<!DOCTYPE html>
<html>
	<head>
		<%= analytics_init local: Rails.env.development? %>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
		<meta name="generator" content="5.0.704.218"/>
		<!-- CSS -->

		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= stylesheet_link_tag    "application_split2", media: "all", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>


		<meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
		<meta name="generator" content="5.0.704.218"/>
		<title><%= yield(:page_title) %></title>


	  <style>
	  .carousel-caption p {
			text-align: left;
			color: #8E060C;
			text-indent: 10px;
			line-height: 1.12;
			font-size: 17px;
			font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
			font-weight: bold;
	  }

	  .carousel-caption {
	  	z-index: 345;
			width: 718px;
			background: transparent url("../images/u34595-grad.png") repeat-y left top;
			background: -webkit-gradient(linear, left center, right center, from(rgba(255, 255, 255, 0.9)),color-stop(80%, rgba(127, 127, 127, 0)));
			background: -webkit-linear-gradient(left,rgba(255, 255, 255, 0.9) ,rgba(127, 127, 127, 0) 721px);
			background: -moz-linear-gradient(left,rgba(255, 255, 255, 0.9) ,rgba(127, 127, 127, 0) 721px);
			background: -ms-linear-gradient(left,rgba(255, 255, 255, 0.9) ,rgba(127, 127, 127, 0) 721px);
			background: -o-linear-gradient(left,rgba(255, 255, 255, 0.9) ,rgba(127, 127, 127, 0) 721px);
			background: linear-gradient(to right,rgba(255, 255, 255, 0.9) ,rgba(127, 127, 127, 0) 721px);
	  }

	  #myCarousel a.left, #myCarousel a.right  {
	  	color: #8E060C;
	  	text-decoration: none;
	  }
	  .carousel-indicators li {
			background-color: rgba(54, 1, 1, 0.50);
			width: 13px;
			height: 13px;
			border-radius: 10px;
	  }
	  .carousel-indicators .active {
			background-color: #8E060C;
		}
	  </style>

   </head>
 	<body>

  		<%= yield %>

		  	<!-- Other scripts -->
	  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>




	  <!-- Other scripts -->
	  <script type="text/javascript">
		   $(document).ready(function() { try {

		   	$("ul.MenuBar > li").eq(0).find("a").first().addClass("MuseMenuActive");

		   	
				Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
				Muse.Utils.prepHyperlinks();/* body */
				Muse.Utils.initWidget('.MenuBar', function(elem) { return $(elem).museMenu(); });/* unifiedNavBar */


				// Muse.Utils.initWidget('#slideshowu6475', function(elem) { new WebPro.Widget.ContentSlideShow(elem, {autoPlay:true,displayInterval:3000,slideLinkStopsSlideShow:false,transitionStyle:'fading',lightboxEnabled_runtime:false,shuffle:false,transitionDuration:500,enableSwipe:true}); });/* 


				Muse.Utils.initWidget('#widgetu6528', function(elem) { new WebPro.Widget.Form(elem, {validationEvent:'submit',errorStateSensitivity:'high',fieldWrapperClass:'fld-grp',formSubmittedClass:'frm-sub-st',formErrorClass:'frm-subm-err-st',formDeliveredClass:'frm-subm-ok-st',notEmptyClass:'non-empty-st',focusClass:'focus-st',invalidClass:'fld-err-st',requiredClass:'fld-err-st',ajaxSubmit:true}); });/* #widgetu6528 */
				Muse.Utils.fullPage('#page');/* 100% height page */
				Muse.Utils.showWidgetsWhenReady();/* body */
				Muse.Utils.transformMarkupToFixBrowserProblems();/* body */



			} catch(e) { Muse.Assert.fail('Error calling selector function:' + e); }});
		</script>


		     <script>
      $(document).ready(function() {




        $('#myCarousel').carousel({
          interval: 6000,
          cycle: true,
          pause: "hover"
        });
      });
     </script>



     <style>

</style>


      <div id="u6474">





     
       <div class="clearfix grpelem" id="u26985"><!-- column -->
        <div class="clearfix colelem" id="u6470-6">
         <p>HAVE A QUESTION?</p>
        </div>
        <div class="colelem" id="u6571">

    <%= form_tag contact_us_sendmail_path, method: 'post', class:"form-grp clearfix grpelem", id:'widgetu6528' do %>
    	<div id="close_contact">X</div>
      <div class="fld-grp clearfix grpelem" id="widgetu6543" data-required="true">
       <label class="fld-label actAsDiv clearfix grpelem" id="u6546-4" for="widgetu6543_input">
        <span class="actAsPara">Name:</span>
       </label>
       <span class="fld-input NoWrap actAsDiv clearfix grpelem" id="u6547-4"><input class="wrapped-input" type="text" spellcheck="false" id="widgetu6543_input" name="Name" tabindex="1"/><label class="wrapped-input fld-prompt" id="widgetu6543_prompt" for="widgetu6543_input"><span class="actAsPara">Your Name</span></label></span>
      </div>
      
      <div class="fld-grp clearfix grpelem" id="widgetu6534" data-required="true" data-type="email">
       <label class="fld-label actAsDiv clearfix grpelem" id="u6536-4" for="widgetu6534_input">
        <span class="actAsPara">Email:</span>
       </label>

       <span class="fld-input NoWrap actAsDiv clearfix grpelem" id="u6538-4"><input class="wrapped-input" type="text" spellcheck="false" id="widgetu6534_input" name="Email" tabindex="2"/><label class="wrapped-input fld-prompt" id="widgetu6534_prompt" for="widgetu6534_input"><span class="actAsPara">name@email.com</span></label></span>
      </div>
      <div class="clearfix grpelem" id="u6540-4">
       <p>Submitting Form...</p>
      </div>
      <div class="clearfix grpelem" id="u6541-4">
       The server encountered an error.
      </div>
      <div class="clearfix grpelem" id="u6542-4">
      Form received.
      </div>
      <input class="submit-btn NoWrap grpelem" id="u6539-17" type="submit" value="" tabindex="5"/><!-- state-based BG images -->
      <div class="fld-grp clearfix grpelem" id="widgetu6529" data-required="false">
       <label class="fld-label actAsDiv clearfix grpelem" id="u6533-4" for="widgetu6529_input">
        <span class="actAsPara">Message:</span>
       </label>

       	<textarea style="width: 302px;height: 86px;margin-top: 20px;border: 1px solid #cccccc;padding: 5px;" rows="5" id="" name="Message" tabindex="3" placeholder="Enter a message"></textarea>

      </div>


       <div style="margin-top:243px; margin-left: -2px;" class="fld-grp clearfix grpelem">
         <%= recaptcha_tags :ajax => true, :display => { tabindex: 4 } %>
       </div>
     <% end %>

     </div>
       </div>
     
            </div>


    <script>
      $(document).ready(function() {

      	$("#u6470-6, #close_contact").on('click',  function() {
      		
      		if (parseInt($("#u6474").css("bottom")) < -2) {
      			$("#u6474").stop().animate({bottom: -1}, 500);
      		}
      		else {
      			$("#u6474").stop().animate({bottom: -428}, 500);
      			
      		}
      	});


        $("#widgetu6528").ajaxComplete(function(event, xhr) {
          Recaptcha.reload();
          if (typeof(res) && typeof(res.MusePHPFormResponse) == "object" && !res.MusePHPFormResponse.success) {
              
              $("#u6541-4").html(res.MusePHPFormResponse.error);
              $("#u6541-4").css("color","red");
          }
          // else (typeof(res) && typeof(res.FormResponse) == "object" && res.FormResponse.success) {
          // 	alert("YES");
          // }



        });


        $.ajaxSetup({
            dataFilter: function (data, type) {
                self.res = JSON.parse(data);


                return data;
            }
        });

      });
      
    </script>

	</body>
</html>
